.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reset-result {
  padding-bottom: 2em;
}

.reset-form {
  width: 45ch;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.error-message {
  width: 45ch;
  margin-bottom: 1em;
}
