/* Entire container */
.manage-data-container {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 0 1rem;
}

.data-options {
  width: 95%;
  display: flex;
  justify-content: space-between;
}

.left-options {
  width: 50%;
  display: flex;
  column-gap: 10px;
}

.cascader {
  width: 50%;
}

.save-button,
.delete-button {
  margin-right: 10px;
}

.delete-button {
  background-color: red;
  color: white;
}

.table-container {
  margin-top: 20px;
  max-width: 95%;
}
