/* Entire container */
.manage-data-container {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 0 1rem;
}

.select-survey-options {
  display: flex;
}

.cascades {
  margin-top: 20px;
  width: 50%;
}
