.ant-collapse-header {
  flex-direction: row-reverse;
}

.ant-collapse-content-box {
  background-color: white;
  padding-top: 0px !important;
}

.ant-modal-footer {
  text-align: center !important;
}

.ant-collapse-content-box {
  padding: 0px !important;
}

gray {
  color: gray;
}
