.container {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  padding: 10px;
}

.profile {
  display: flex;
  align-items: center;
}
.title {
  margin: 0;
}

.name {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.avatar {
  margin-top: 10px;
}

.edit-button,
.logout-button {
  border-radius: 0px;
}

.form {
  display: flex;
  flex-direction: column;
}
