.container {
  text-align: center;
  padding: 0.5% 3%;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  width: 95%;
  justify-content: space-between;
}

.cascader {
  width: 30%;
}

.create-new-survey-header {
  margin: 0;
}

.survey-form {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  column-gap: 15%;
}
