.addDataDiv {
  text-align: center;
  padding: 0.5% 3%;
  align-items: center;
  justify-content: center;
  margin-top: -1%;
}

.surveyForm {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.create-new-survey-header {
  margin: 0;
}

.header {
  display: flex;
  width: 95%;
  justify-content: space-between;
}

.cascader {
  width: 30%;
}
