
.table {

  position: flex;
  margin-top: 11em;
  margin-left: 2vw;
  width: 60%;
}

.title {
  font-size: 150%;
  position: absolute;
  top: 1em;
  left: 10em;
}

.button {
  position: absolute;
  left: 13.8vw;
  top: 6vw;

}

.addButton {
  position: absolute;
  right: 2vw;
  top: 6vw;
}

.divider {
  border: solid white;
}

